{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h2>Welcome, {{ user.username }}!</h2>
        </div>
    </div>

    {% if user.is_employee %}
    <div class="row mt-4">
        <div class="col-12">
            <a href="{% url 'reimbursements:submit' %}" class="btn btn-primary">Submit Reimbursement Request</a>
        </div>
    </div>
    {% endif %}
    
    {% if user.is_manager %}
    <div class="row mt-4">
        <div class="col-12">
            <a href="{% url 'reimbursements:list' %}" class="btn btn-primary">View Reimbursement Requests</a>
        </div>
    </div>
    {% endif %}
    
    {% if user.is_superuser %}
    <div class="row mt-4">
        <div class="col-12">
            <a href="{% url 'accounts:manage_departments' %}" class="btn btn-primary">Manage Departments</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <a href="{% url 'accounts:manage_employees' %}" class="btn btn-primary">Manage Employees</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
